* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  background-color: rgba(11, 11, 11, 0.24);
}
.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}
.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 48px;
  height: 48px;
  position: relative;
}

.black {
  background: rgba(0, 0, 0, 0.582);
}

.white {
  background: rgba(255, 255, 255, 0.747);
}

.selected {
  background-color: aqua;
}
.avaliable {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #22c022;
}

@keyframes cell {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
